# Read Data Set

In [132]:
import pandas as pd
imdb = pd.read_csv("IMDB-database-update.csv", encoding = "ISO-8859-1") #encoding="latin1"
imdb.tail(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
3778,3779,Battle of the Year,110,1,2013,USA,English,PG-13,20000000,8888355,...,1,826,3177,0,0,19,7894,25,5.0,0
3779,3780,The Master,144,1,2012,USA,English,R,32000000,16377274,...,1,15,427,1,27000,31,105144,405,7.1,0
3780,3781,500 Days of Summer,95,1,2009,USA,English,PG-13,7500000,32391374,...,1,11000,54075,1,40000,43,376600,494,7.7,0

# 1. How many rows and columns reflected on dataset file IMDB-database-update.csv?

In [133]:
imdb.shape

(3781, 36)

# 2. What are the top 3 movies with highest nett profit in 2013?

In [104]:
movie_2013 = imdb[imdb.title_year == 2013]
net_sort = movie_2013.sort_values('net_USD', ascending = False)
net_sort.head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
1614,1615,The Hunger Games: Catching Fire,146,1,2013,USA,English,PG-13,130000000,424645577,...,1,523,49355,1,82000,1,498397,706,7.6,0
236,237,Despicable Me 2,98,1,2013,USA,English,PG,76000000,368049635,...,1,1000,11905,1,56000,0,286877,284,7.5,0
57,58,Frozen,102,1,2013,USA,English,PG,150000000,400736600,...,1,490,2582,1,58000,0,421658,904,7.6,0

# 3. What are the top 3 movies with highest gross profit in 2009?

In [105]:
movie_2019 = imdb[imdb.title_year == 2009]
gross_sort = movie_2019.sort_values('gross_USD', ascending = False)
gross_sort.head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
19,20,Transformers: Revenge of the Fallen,150,1,2009,USA,English,PG-13,200000000,402076689,...,1,464,3218,0,0,0,323207,1439,6.0,0
3094,3095,Harry Potter and the Half-Blood Prince,153,1,2009,UK,English,PG,250000000,301956980,...,1,10000,58753,1,10000,3,321795,973,7.5,0

# 4. How many non-english movies are in the dataset?

In [134]:
movie_non_english = imdb[imdb.language != 'English']
total = movie_non_english['movie_ID'].count()
print (total)

153

# 5. What are the top 3 countries with the highest nett profit in all dataset times?

In [68]:
mne_group = movie_non_english.groupby('language')
mne_count = mne_group['movie_ID'].count()
mne_sort = mne_count.sort_values(ascending=False)
print (mne_sort.head(3))

language
French      33
Spanish     23
Mandarin    14
Name: movie_ID, dtype: int64

In [89]:
#mne_group2 = imdb.groupby('country')
#mne_count2 = mne_group2['net_USD'].count()
#mne_sort2 = mne_count.sort_values(ascending=False)
#print (mne_sort2)

# 6. What are the top 3 countries with the highest nett profit in all dataset times?

In [88]:
imdb_group = imdb.groupby('country')
imdb_sum = imdb_group['net_USD'].sum()
imdb_sort = imdb_sum.sort_values(ascending=False)
print(imdb_sort.head(3))

country
USA          52003933174
UK            1531614524
Australia      252571616
Name: net_USD, dtype: int64

# 7. What are the average budget of all movies in dataset in 2013?

In [123]:
sum_2013 = movie_2013['budget_USD'].sum()
count_2013 = movie_2013['movie_ID'].count()
rata_2013 = sum_2013/count_2013
rata_2013

51069610.77439024

# 8. What are the average budget of all movies in dataset in 2014?

In [124]:
movie_2014 = imdb[imdb.title_year == 2014]
sum_2014 = movie_2014['budget_USD'].sum()
count_2014 = movie_2014['movie_ID'].count()
rata_2014 = sum_2014/count_2014
rata_2014

49919006.62251656

# 9. Which one is higher, average budget of all movies in dataset in 2014 or 2013?

In [118]:
if (rata_2013 > rata_2014) :
    print("2013")
else :
    print("2014")

2013

# 10. What movie that resulted highest nett profit of all dataset times? How much did the movie make?

In [136]:
best = imdb.loc[(imdb.title_year >= 1927)]
net_best = best.sort_values('net_USD', ascending = False)
net_best.head(1)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0