# Python Programming Dasar

Anda dapat mengakses website Python di [Python](http://python.org) <br>
Anda dapat mengakses website Anaconda di [Anaconda](http://anaconda.com) 

<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" alt="Smiley face" height="500" width="500"/>
![Gambar Astra](https://2.bp.blogspot.com/-EYLva47vqDw/W90eOJv4ifI/AAAAAAAAPlc/BVslckEDk6gMFeXZRNFpfbBvrJ6jhm6YACLcBGAs/s320/Astra%2BInternational.png)
***

## 1. Bussiness Understanding
### 1.1 Latar Belakang
* karena belum adanya data mengenai jumlah jenis mobil di DKI Jakarta
* dan lain-lain
    * List yang lain
    
### 1.2 Tujuan
1. untuk membuat model prediksi jenis mobil den nomor _plat_ *dari* **data** ***CCTV***
2. Untuk membantu pemerintah dalam membuat undang undang pembatasan kendaraan bermotor
    1. satu
    2. dua
    3. tiga
### 1.3 Manfaat

## 2. Data Understanding

## 3. Data Preparation

## 4. Modeling

## 5. Evaluation

## 6. Data Presentation

In [2]:
print("Hello World")
print(2+5)
print(6+7)

Hello World
7
13

In [7]:
apel = 7
jeruk = 9
print(apel)
print(jeruk)
print(apel + jeruk)
print(jeruk % apel)

7
9
16
2

In [9]:
x = 10
y = 3
print(x + y)
print(x - y)
print(-x)
print(x * y)
print(x ** y)
print(x / y)
print(x // y)
print(x % y)

13
7
-10
30
1000
3.3333333333333335
3
1

In [10]:
print(True)
print(type(True))
print(type("True"))
print(type(False))
print(10 == 10)
print(5 == 6)
t = True
f = False
print(t or f)
print(t and f)
print(type(t))

True
<class 'bool'>
<class 'str'>
<class 'bool'>
True
False
True
False
<class 'bool'>

In [13]:
Fam = [2,3,4,5,6,7]
print(Fam)
type(Fam)
# List inside list
Data = [["Bob",160],["Charlie",150],["Brian",140.5]]
print (Data)

[2, 3, 4, 5, 6, 7]
[['Bob', 160], ['Charlie', 150], ['Brian', 140.5]]

In [22]:
# Built-In
print(Fam)
print(max(Fam))
print(min(Fam))
print(len(Fam))
# User Defined
print(Data)
x,y = max(Data, key=lambda a: a[1])
print(x)
print(y)

[2, 3, 4, 5, 6, 7]
7
2
6
[['Bob', 160], ['Charlie', 150], ['Brian', 140.5]]
Bob
160

In [49]:
name = "       hello world"
print(name)
print(type(name))
# “hello world” type is string
# Some Methods specifically
# associated with string type object are
print(name.capitalize())
print(name.upper())
print(name.lower())
print(name.strip())
print(name.strip('rld'))
print(name.strip(' rld'))
print(''.join(name.split()))

       hello world
<class 'str'>
       hello world
       HELLO WORLD
       hello world
hello world
       hello wo
hello wo
helloworld

In [71]:
animals = ['cat', 'dog', 'monkey']
for i in animals:
    print(i)
    nums = [0, 1, 2, 3, 4]
    squares = [x ** 2 for x in nums]
    print(squares)
    
a = "hello world"
print (a[1  : 3])
#Map
#print(list(map(label_height,Fam)))
#print(list(map(label_height,height_list)))

cat
[0, 1, 4, 9, 16]
dog
[0, 1, 4, 9, 16]
monkey
[0, 1, 4, 9, 16]
el

In [74]:
harga = 10000
type(harga)

int

In [76]:
rating = 5.9
type(rating)

float

In [80]:
nama_variabel = 'Python untuk pemula'
print(type(nama_variabel))
print(nama_variabel[0])
print(nama_variabel[-1])
print(nama_variabel[0:5])
print(nama_variabel[1:-1])

<class 'str'>
P
a
Pytho
ython untuk pemul

In [81]:
import numpy as np
Data = [["Bob",160],["Charlie",150],["Brian",140.5]]
height_list = [row[1] for row in Data]
print(type(height_list))
height_array = np.array(height_list)
print(height_array)
print(type(height_array))

<class 'list'>
[160.  150.  140.5]
<class 'numpy.ndarray'>

In [95]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']
ind_ger = countries.index('germany')
print(capitals[ind_ger])
europe = {'spain':['madrid'], 'france':['paris'], 'germany':['berlin'], 'norway':['oslo']}
type(europe)
print(europe)
print(europe.keys())
print(europe.values())

berlin
{'spain': ['madrid'], 'france': ['paris'], 'germany': ['berlin'], 'norway': ['oslo']}
dict_keys(['spain', 'france', 'germany', 'norway'])
dict_values([['madrid'], ['paris'], ['berlin'], ['oslo']])

In [99]:
import pandas as pd
# Build dataframe from dictionary
pd.DataFrame(europe)
# Import the csv
#pd.read_csv()

  france germany norway   spain
0  paris  berlin   oslo  madrid

In [90]:
code = ['US', 'AUS', 'JPN', 'IN', 'RUS', 'MOR', 'EG']
names = ['United States', 'Australia', 'Japan', 'India','Russia','Morocco', 'Egypt']
dr = [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'ctrcode':code, 'country':names, 'drives_right':dr,'cars_per_cap':cpc}
cars = pd.DataFrame(my_dict)
print(type(cars))
print(cars)

<class 'pandas.core.frame.DataFrame'>
   cars_per_cap        country ctrcode  drives_right
0           809  United States      US          True
1           731      Australia     AUS         False
2           588          Japan     JPN         False
3            18          India      IN         False
4           200         Russia     RUS          True
5            70        Morocco     MOR          True
6            45          Egypt      EG          True

In [103]:
# Dimension
cars.shape
print(cars.columns)
print(len(cars.columns))
print(len(cars))
# Brief View
cars.head(3)
cars.tail(3)
# Data type
cars.dtypes
cars.info()

Index(['cars_per_cap', 'country', 'ctrcode', 'drives_right'], dtype='object')
4
7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
cars_per_cap    7 non-null int64
country         7 non-null object
ctrcode         7 non-null object
drives_right    7 non-null bool
dtypes: bool(1), int64(1), object(2)
memory usage: 255.0+ bytes

In [110]:
# Summary Statistics
cars.describe()
# Set DF Column Index
cars_id = cars.set_index("ctrcode")
print(cars_id.shape)
cars_id

(7, 3)

         cars_per_cap        country  drives_right
ctrcode
US                809  United States          True
AUS               731      Australia         False
JPN               588          Japan         False
IN                 18          India         False
RUS               200         Russia          True
MOR                70        Morocco          True
EG                 45          Egypt          True

In [111]:
select = cars_id.loc[['AUS', 'EG']]
select

         cars_per_cap    country  drives_right
ctrcode
AUS               731  Australia         False
EG                 45      Egypt          True

In [117]:
select = cars_id.loc[['AUS', 'EG'],['country','drives_right']]
select

           country  drives_right
ctrcode
AUS      Australia         False
EG           Egypt          True

In [123]:
select = cars_id.iloc[range(1,3)]
select

         cars_per_cap    country  drives_right
ctrcode
AUS               731  Australia         False
JPN               588      Japan         False

In [121]:
select = cars_id.loc[:,['country','drives_right']]
select

               country  drives_right
ctrcode
US       United States          True
AUS          Australia         False
JPN              Japan         False
IN               India         False
RUS             Russia          True
MOR            Morocco          True
EG               Egypt          True

In [125]:
select = cars_id.iloc[[1, 2],[1,2]]
select

           country  drives_right
ctrcode
AUS      Australia         False
JPN          Japan         False

#  High Rating Movies Criteria