In [20]:
print("Hello World")
print(2+5)
print(6+7)

Hello World
7
13

In [19]:
apel = 7
jeruk = 9
print(apel)
print(jeruk)
print(apel + jeruk)

7
9
16

In [18]:
x = 10
y = 2
print(x + y)
print(x - y)
print(-x)
print(x * y)
print(x ** y)
print(x / y)
print(x // y)
print(x % y)

12
8
-10
20
100
5.0
5
0

In [16]:
print(True)
print(type(True))
print(type("True"))
print(type(False))
print(10 == 10)
print(5 == 6)
t = True
f = False
print(t or f)
print(t and f)
print(type(t))

True
<class 'bool'>
<class 'str'>
<class 'bool'>
True
False
True
False
<class 'bool'>

In [21]:
Fam = [2,3,4,5,6,7]
print(Fam)
type(Fam)
# List inside list
Data = [["Bob",160],["Charlie",150],["Brian",140.5]]

[2, 3, 4, 5, 6, 7]

In [22]:
# Built-In
print(Fam)
print(max(Fam))
print(min(Fam))
print(len(Fam))
# User Defined
print(Data)
x,y = max(Data, key=lambda a: a[1])
print(x)
print(y)

[2, 3, 4, 5, 6, 7]
7
2
6
[['Bob', 160], ['Charlie', 150], ['Brian', 140.5]]
Bob
160

In [12]:
name = "hello world"
print(name)
print(type(name))
# “hello world” type is string
# Some Methods specifically
# associated with string type object are
print(name.capitalize())
print(name.upper())
print(name.lower())
print(name.strip())

hello world
<class 'str'>
Hello world
HELLO WORLD
hello world
hello world

In [24]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)
#Map
print(list(map(label_height,Fam)))
print(list(map(label_height,height_list)))

cat
dog
monkey
[0, 1, 4, 9, 16]

NameError: name 'label_height' is not defined

In [29]:
import numpy as np
Data = [["Bob",160],["Charlie",150],["Brian",140.5]]
height_list = [row[1] for row in Data]
print(type(height_list))
height_array = np.array(height_list)
print(height_array)
print(type(height_array))

<class 'list'>
[160.  150.  140.5]
<class 'numpy.ndarray'>

In [30]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']
ind_ger = countries.index('germany')
print(capitals[ind_ger])
europe = {'spain':'madrid', 'france':'paris',
'germany':'berlin', 'norway':'oslo'}
type(europe)
print(europe)
print(europe.keys())
print(europe.values())

berlin
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}
dict_keys(['spain', 'france', 'germany', 'norway'])
dict_values(['madrid', 'paris', 'berlin', 'oslo'])

In [34]:
import pandas as pd

code = ['US', 'AUS', 'JPN', 'IN', 'RUS', 'MOR', 'EG']
names = ['United States', 'Australia', 'Japan', 'India','Russia','Morocco', 'Egypt']
dr = [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'ctrcode':code, 'country':names, 'drives_right':dr,'cars_per_cap':cpc}
cars = pd.DataFrame(my_dict)
print(type(cars))
print(cars)

<class 'pandas.core.frame.DataFrame'>
  ctrcode        country  drives_right  cars_per_cap
0      US  United States          True           809
1     AUS      Australia         False           731
2     JPN          Japan         False           588
3      IN          India         False            18
4     RUS         Russia          True           200
5     MOR        Morocco          True            70
6      EG          Egypt          True            45

In [37]:
# Dimension
cars.shape
print(cars.columns)
print(len(cars.columns))
print(len(cars))
# Brief View
cars.head(3)
cars.tail(3)
# Data type
cars.dtypes
cars.info()
# Summary Statistics
cars.describe()
# Set DF Column Index
cars_id = cars.set_index("ctrcode")
print(cars_id.shape)
cars_id

Index(['ctrcode', 'country', 'drives_right', 'cars_per_cap'], dtype='object')
4
7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
ctrcode         7 non-null object
country         7 non-null object
drives_right    7 non-null bool
cars_per_cap    7 non-null int64
dtypes: bool(1), int64(1), object(2)
memory usage: 303.0+ bytes
(7, 3)

               country  drives_right  cars_per_cap
ctrcode
US       United States          True           809
AUS          Australia         False           731
JPN              Japan         False           588
IN               India         False            18
RUS             Russia          True           200
MOR            Morocco          True            70
EG               Egypt          True            45

In [4]:
#Square brackets. There’s fundamental difference between using single and double bracket.
Column_access = cars_id['country'], cars_id[['country']]
Row_access = cars_id[0:3]
#LOC (label based)
Row_access = cars_id.loc[['AUS', 'EG']]
Row_Column_access = cars_id.loc[['RUS', 'MOR'], ['country', 'drives_right']]
#iLOC (integer index based)
Row_access = cars_id.iloc[[1, 6]]
Row_Column_access = cars_id.iloc[[4,5], [1,2]]

NameError: name 'cars_id' is not defined

In [43]:
print(cars_id[cars_id.drives_right == True])
print(cars_id[(cars_id.cars_per_cap > 100) & (cars_id.country == "Australia") ])

               country  drives_right  cars_per_cap
ctrcode
US       United States          True           809
RUS             Russia          True           200
MOR            Morocco          True            70
EG               Egypt          True            45
           country  drives_right  cars_per_cap
ctrcode
AUS      Australia         False           731

In [45]:
cars_id.sort_values(by=['cars_per_cap'])
cars_id.sort_values(by=['cars_per_cap'], ascending=False)

               country  drives_right  cars_per_cap
ctrcode
US       United States          True           809
AUS          Australia         False           731
JPN              Japan         False           588
RUS             Russia          True           200
MOR            Morocco          True            70
EG               Egypt          True            45
IN               India         False            18

In [3]:
import pandas as pd
imdb = pd.read_csv("IMDB-database-update.csv", encoding = "ISO-8859-1")
imdb.tail(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
3778,3779,Battle of the Year,110,1,2013,USA,English,PG-13,20000000,8888355,...,1,826,3177,0,0,19,7894,25,5.0,0
3779,3780,The Master,144,1,2012,USA,English,R,32000000,16377274,...,1,15,427,1,27000,31,105144,405,7.1,0
3780,3781,500 Days of Summer,95,1,2009,USA,English,PG-13,7500000,32391374,...,1,11000,54075,1,40000,43,376600,494,7.7,0

In [5]:
imdb.shape

(3781, 36)

In [20]:
movie_2013 = imdb[imdb.title_year == 2013]
net_sort = movie_2013.sort_values('net_USD')
net_sort.head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
2570,2571,47 Ronin,128,1,2013,USA,English,PG-13,175000000,38297305,...,1,982,20965,1,35000,2,116994,324,6.3,0
1596,1597,Jack the Giant Slayer,114,1,2013,USA,English,PG-13,195000000,65171860,...,1,140,1766,1,22000,1,106416,205,6.3,0
1593,1594,The Lone Ranger,150,1,2013,USA,English,PG-13,215000000,89289910,...,1,1000,45757,1,48000,1,181792,711,6.5,0

In [23]:
movie_2019 = imdb[imdb.title_year == 2009]
gross_sort = movie_2019.sort_values('gross_USD')
gross_sort.head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
3049,3050,Tanner Hall,96,1,2009,USA,English,R,3000000,5005,...,1,357,1929,1,448,2,2280,14,5.9,0
2978,2979,The Open Road,91,1,2009,USA,English,PG-13,10000000,19348,...,1,875,16118,1,370,2,2941,11,5.5,0
3038,3039,The Good Heart,99,1,2009,Iceland,English,R,3800000,19959,...,1,64,298,0,0,2,3579,14,6.9,0

In [29]:
movie_non_english = imdb[imdb.language != 'English']
total = movie_non_english['movie_ID'].count()
print (total +1)

154